.nav {
  grid-area: n;
  background-color: red;
  padding: 10px 15px;
}

.nav a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
}

.nav a.active {
  color: yellow;
}
